<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.naumen.ectmapi.repository.FileDescriptionRepository">

    <insert id="create" parameterType="ru.naumen.ectmapi.entity.FileDescription"
            useGeneratedKeys="true" keyProperty="fileDescription.id" keyColumn="id">
        INSERT INTO file_description (title, mime_type, size, uri, hash)
        VALUES (#{fileDescription.title}, #{fileDescription.mimeType}, #{fileDescription.size},
                #{fileDescription.uri}, #{fileDescription.hash})
    </insert>

    <select id="find" resultType="ru.naumen.ectmapi.entity.FileDescription">
        SELECT id,
               title,
               mime_type,
               size,
               uri,
               hash
        FROM file_description
        WHERE id = #{id}
    </select>

    <select id="findFirstByHash" resultType="ru.naumen.ectmapi.entity.FileDescription">
        SELECT id,
               title,
               mime_type,
               size,
               uri,
               hash
        FROM file_description
        WHERE hash = #{hash}
        ORDER BY id
            LIMIT 1
    </select>

    <select id="findAllByTreeId" resultType="ru.naumen.ectmapi.entity.FileDescription">
        SELECT id,
               title,
               mime_type,
               size,
               uri,
               hash
        FROM file_description
        WHERE tree_id = #{treeId}
        ORDER BY id
    </select>

    <update id="updateTreeId">
        UPDATE file_description SET tree_id = #{treeId} WHERE id = #{id}
    </update>

    <select id="countByHash" resultType="long">
        SELECT count(*)
        FROM file_description
        WHERE hash = #{hash}
    </select>

    <delete id="delete">
        DELETE FROM file_description
        WHERE id = #{id}
    </delete>
</mapper>