<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.naumen.ectmapi.repository.TreeMapInfoRepository">

    <resultMap id="treeMapInfoMap" type="ru.naumen.ectmapi.entity.TreeMapInfo">
        <id property="id" column="id"/>
        <result property="geographicalPoint" column="geographical_point"/>
        <result property="diameterOfCrown" column="diameter_crown"/>

        <association property="species"
                     columnPrefix="species_"
                     resultMap="ru.ekbtreeshelp.api.repository.SpeciesTreeRepository.speciesTreeMap"/>
    </resultMap>

    <sql id="treeMapInfoColumns">
        tree.id              AS id,
        geographical_point   AS geographical_point,
        diameter_crown       AS diameter_crown,
        species_tree.id      AS species_id,
        species_tree.title   AS species_title
    </sql>

    <select id="findInRegion" resultMap="treeMapInfoMap">
        SELECT
        <include refid="treeMapInfoColumns"/>
        FROM tree
        LEFT JOIN species_tree ON tree.species_id = species_tree.id
        WHERE
        ST_Within(
        geographical_point,
        ST_MakeEnvelope(#{bottomRight.x}, #{bottomRight.y}, #{topLeft.x}, #{topLeft.y})
        )
    </select>

    <select id="findAllByAuthorId" resultMap="treeMapInfoMap">
        SELECT
        <include refid="treeMapInfoColumns"/>
        FROM tree
        LEFT JOIN species_tree ON tree.species_id = species_tree.id
        WHERE author_id = #{authorId}
    </select>
</mapper>