<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.naumen.ectmapi.repository.TreesClusterRepository">

    <select id="findInRegion" resultType="ru.naumen.ectmapi.entity.TreeCluster">
        SELECT
            ST_Centroid(points) AS centre,
            ST_NumGeometries(points) AS count
        FROM (
            SELECT unnest(ST_ClusterWithin(geographical_point, ${cluster-distance})) AS points
            FROM tree
            WHERE
            ST_Within(
            geographical_point,
            ST_MakeEnvelope(#{bottomRight.x}, #{bottomRight.y}, #{topLeft.x}, #{topLeft.y})
            )
            ) AS cluster
    </select>
</mapper>